.contentContainer {
	max-width:1000px;
	margin:0 auto;
}

.services {
	.serviceContainer {
		display: flex;
		flex-wrap:wrap;
		align-items:baseline;
		justify-content:space-between;
	}
	.serviceItem {
		flex-basis:32%;
		text-align: left;
		padding:2rem;
		margin-top:2rem;
		h3 {
			font-family: $headingFont;
			letter-spacing: 0.2rem;
			font-size: 1.5rem;
			margin:0;
			text-transform: capitalize;
		}
		i {
			font-size:2.5rem;
		}
	}
}