.mainNav {
	display:flex;
	width:100%;
	justify-content:space-between;
	align-items:center;
	padding:0px 30px;
	position: absolute;
	top:0;
}

ul.menu {
	margin: 0;
	padding: 0;
	display:flex;
	width:100%;
	justify-content:flex-end;
	align-items:center;
	li {
		display: inline;
		margin-right: 10px;
		a {
			color: #333;
			padding: 10px;
			color: white;
		}
	}
}